/* The character name. */
h1 {
    color: var(--bs-info);
    font-family: "Acme";
    font-size: 3rem;
    margin-bottom: 0;
}

/* The top line of table headers. */
table thead tr th {
    color: var(--bs-primary) !important;
    font-family: "Acme";
    font-size: 125%;
    text-align: center;
}

/* The second line of table headers, if any. */
table thead tr td {
    font-weight: bold;
}

/* For custom names given to perks, powers, skills, etc. */
.name {
    color: var(--bs-success);
    font-style: italic;
    font-weight: bold;
}

.nav .nav-link.active {
    background-color: #e2e3e5 !important;
    color: var(--bs-primary) !important;
}

.nav .nav-link {
    background-color: var(--bs-secondary) !important;
    color: var(--bs-dark) !important;
    font-family: "Acme";
    font-size: 125%;
    font-weight: bold;
}

/* For skill and power notes. */
.note {
    color: var(--bs-secondary);
    font-size: 85%;
    font-style: italic;
}
