
<div class="container-fluid">
    <ul class="nav nav-tabs">
        <li class="nav-item pe-1">
            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#characteristics_pane" type="button" id="characteristics_button">
                <i class="fa-solid fa-user"></i>
                Characteristics
            </button>
        </li>
        <li class="nav-item pe-1">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#powers_pane" type="button" id="powers_button">
                <i class="fa-solid fa-bolt-lightning"></i>
                Powers
            </button>
        </li>
        <li class="nav-item pe-1">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#background_pane" type="button" id="background_button">
                <i class="fa-solid fa-book"></i>
                Background
            </button>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane show active" id="characteristics_pane">
            <div class="row g-2">
                <div class="col-4">
                    <!--CHARACTERISTICS_BLOCK-->
                </div>
                <div class="col-2">
                    <!--SKILLS_BLOCK-->
                </div>
                <div class="col-2">
                    <!--PERKS_BLOCK-->
                    <!--TALENTS_BLOCK-->
                </div>
                <div class="col-4">
                    <div class="row g-2">
                        <div class="col-6">
                            <!--COMBAT_INFO_BLOCK-->
                            <!--COMBAT_SKILL_LEVELS_BLOCK-->
                        </div>
                        <div class="col-6">
                            <!--DEFENSES_BLOCK-->
                        </div>
                    </div>
                    <!--MARTIAL_MANEUVERS_BLOCK-->
                    <!--STANDARD_MANEUVERS_BLOCK-->
                    <!--RANGE_MODIFIERS_BLOCK-->
                    <!--HIT_LOCATIONS_BLOCK-->
                </div>
            </div>
        </div>
        <div class="tab-pane" id="powers_pane">
            <div class="row g-2">
                <div class="col-6">
                    <!--POWERS_BLOCK-->
                </div>
                <div class="col-6">
                    <!--DISADS_BLOCK-->
                </div>
            </div>
        </div>
        <div class="tab-pane" id="background_pane">
            <div class="row g-2">
                <div class="col-6">
                    <!--BACKGROUND_BACKGROUND_BLOCK-->
                    <!--BACKGROUND_PERSONALITY_BLOCK-->
                    <!--BACKGROUND_QUOTE_BLOCK-->
                    <!--BACKGROUND_TACTICS_BLOCK-->
                    <!--BACKGROUND_APPEARANCE_BLOCK-->
                </div>
                <div class="col-6">
                    <!--PORTRAIT_BLOCK-->
                </div>
            </div>
        </div>
    </div>
</div>
