
<div class="container-fluid">
    <ul class="nav nav-tabs">
        <li class="nav-item pe-1">
            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#characteristics_pane" type="button" id="characteristics_button">
                <i class="fa-solid fa-user"></i>
                Characteristics
            </button>
        </li>
        <li class="nav-item pe-1">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#skills_pane" type="button" id="skills_button">
                <i class="fa-solid fa-flask"></i>
                Skills
            </button>
        </li>
        <li class="nav-item pe-1">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#powers_pane" type="button" id="powers_button">
                <i class="fa-solid fa-bolt-lightning"></i>
                Powers
            </button>
        </li>
        <li class="nav-item pe-1">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#combat_pane" type="button" id="combat_button">
                <i class="fa-solid fa-hand-fist"></i>
                Combat
            </button>
        </li>
        <li class="nav-item pe-1">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#disads_pane" type="button" id="disads_button">
                <i class="fa-solid fa-face-sad-tear"></i>
                Disads
            </button>
        </li>
        <li class="nav-item pe-1">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#background_pane" type="button" id="background_button">
                <i class="fa-solid fa-book"></i>
                Background
            </button>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane show active" id="characteristics_pane">
            <!--CHARACTERISTICS_BLOCK-->
        </div>
        <div class="tab-pane" id="skills_pane">
            <div class="row g-2">
                <div class="col-6">
                    <!--SKILLS_BLOCK-->
                </div>
                <div class="col-6">
                    <!--PERKS_BLOCK-->
                    <!--TALENTS_BLOCK-->
                </div>
            </div>
        </div>
        <div class="tab-pane" id="powers_pane">
            <!--POWERS_BLOCK-->
        </div>
        <div class="tab-pane" id="combat_pane">
            <div class="row g-2">
                <div class="col-5">
                    <!--COMBAT_INFO_BLOCK-->
                    <!--DEFENSE_BLOCK-->
                    <!--COMBAT_LEVELS_BLOCK-->
                </div>
                <div class="col-7">
                    <!--RANGE_MODIFIERS_BLOCK-->
                    <!--HIT_LOCATIONS_BLOCK-->
                    <!--COMBAT_MANEAUVERS_BLOCK-->
                </div>
            </div>
        </div>
        <div class="tab-pane" id="disads_pane">
            <!--DISADS_BLOCK-->
        </div>
        <div class="tab-pane" id="background_pane">
            <div class="row g-2">
                <div class="col-8">
                    <!--BACKGROUND_BACKGROUND_BLOCK-->
                    <!--BACKGROUND_PERSONALITY_BLOCK-->
                    <!--BACKGROUND_QUOTE_BLOCK-->
                    <!--BACKGROUND_TACTICS_BLOCK-->
                    <!--BACKGROUND_APPEARANCE_BLOCK-->
                </div>
                <div class="col-4">
                    <!--PORTRAIT_BLOCK-->
                </div>
            </div>
        </div>
    </div>
</div>
