<div class="container-fluid">
    <div class="row g-2">
        <div class="col-4">
            <!--CHARACTERISTICS_BLOCK-->
            <div class="container-fluid p-0">
                <div class="row g-2">
                    <div class="col-4">
                        <!--COMBAT_INFO_BLOCK-->
                        <!--DEFENSE_BLOCK-->
                        <!--COMBAT_LEVELS_BLOCK-->
                    </div>
                    <div class="col-8">
                        <!--COMBAT_MANEAUVERS_BLOCK-->
                        <!--RANGE_MODIFIERS_BLOCK-->
                    </div>
                </div>
            </div>
            <!--DISADS_BLOCK-->
        </div>
        <div class="col-3">
            <!--SKILLS_BLOCK-->
            <!--PERKS_BLOCK-->
            <!--TALENTS_BLOCK-->
        </div>
        <div class="col-5"><!--POWERS_BLOCK--></div>
    </div>
</div>
